# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
venv/
ENV/
.env/
.envrc/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# pytest cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# Coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Linting
.pylint.d/

# Logs and databases
*.log
db.sqlite3

# Environment variables
.env

# VS Code settings
.vscode/

# macOS system files
.DS_Store

/letters_source_files

web_recordings/*
!web_recordings/*.md

temp*
!templates

*.wav
*.webm