<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/wavesurfer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/wavesurfer.js@6.0.0/dist/plugin/wavesurfer.regions.min.js"></script>

    <title>Breath Analyzer</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
</head>
<body>
    <main style="display: flex; justify-content: space-between;">
        <div>
            <form id="audio-sender">
                <input type="text" id="prefix" name="prefix" value="a" placeholder="Folder/file prefix"><br>
                <input type="radio" name="record_type" value="manual_ie" onclick="document.getElementById('start').style.display='block'"><label>Periodic inhale/exhale</label>
                <input type="radio" name="record_type" value="automatic_ie" onclick="document.getElementById('start').style.display='none'"><label>Automatic inhale/exhale</label><br><br>
                <input type="radio" name="mode" value="manual_activity" onclick="document.getElementById('prefix').placeholder='Folder/file prefix'"><label>Manual activity</label>
                <input type="radio" name="mode" value="automatic_activity" onclick="document.getElementById('prefix').placeholder='Folder name'"><label>Automatic activity</label><br><br>
                <input type="checkbox" name="update" id="update"><label>Update model</label><br><br>
            </form>
            <button class="mic-toggle" id="mic-button">
                <span class="material-icons">mic</span>
            </button>
            <button class="mic-cut" id="mic-cut">
                <span class="material-icons">content_cut</span>
            </button>
            <button class="mic-stop" id="mic-stop">
                <span class="material-icons">stop</span>
            </button>
            <audio class="playback" controls></audio>
            <br>
            <div class="stopwatch" id="stopwatch">00:00:00:000</div>
            <div id="step"></div>
            <br>
            <!-- <p id="record-status">Not recording</p> -->
            <p id="live-transcript"></p>
            <table id="transcript">
                <tr>
                    <th>Transcript</th>
                    <th>Time</th>
                    <th>Inhale/exhale</th>
                    <th>Predicted inhale/exhale</th>
                    <th>Activity type</th>
                </tr>
            </table>
            <button onclick="saveToCSV();">Save to CSV</button>
        </div>
        <div id="waveform" style="width: 300px; align-content: center; padding: 10px;"></div>
        </main>
    </main>
<script src="/static/scripts/recording_handler.js"></script>
<script src="/static/scripts/saveToCsv.js"></script>
<script src="/static/scripts/stopwatch.js"></script>
<script type="module" src="/static/scripts/wave.js"></script>
</body>
</html>
